In [7]:
import pandas as pd

In [8]:
pew = pd.read_csv('../data/pew.csv')

In [9]:
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [10]:
pew_long = pd.melt(pew, id_vars='religion')

In [11]:
pew_long.head()

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [12]:
pew_long = pd.melt(pew, id_vars='religion',
                   var_name='income',
                  value_name='count')

In [9]:
pew_long.head()

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [10]:
billboard = pd.read_csv('../data/billboard.csv')

In [11]:
billboard

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,51,39.0,34.0,26.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,97,97.0,96.0,95.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,84,62.0,51.0,41.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Aaliyah,Try Again,4:03,2000-03-18,59,53.0,38.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,76,76.0,74.0,69.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,"Adkins, Trace",More,3:05,2000-04-29,84,84.0,75.0,73.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,50,39.0,30.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,71,51.0,28.0,18.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,79,65.0,53.0,48.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,80,78.0,76.0,77.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,Amber,Sexual,4:38,1999-07-17,99,99.0,96.0,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,92,NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,82,76.0,76.0,70.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,77,54.0,50.0,43.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,Avant,My First Love,4:28,2000-11-04,70,62.0,56.0,43.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,Avant,Separated,4:13,2000-04-29,62,32.0,30.0,23.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,BBMak,Back Here,3:35,2000-04-29,99,86.0,60.0,52.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,39,25.0,24.0,15.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,74,62.0,55.0,25.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,58,50.0,43.0,37.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,67,53.0,42.0,41.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,99,92.0,85.0,76.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,77,76.0,69.0,45.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,72,72.0,63.0,56.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,77,63.0,61.0,58.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,"Thomas, Carl",I Wish,3:50,2000-03-25,75,64.0,48.0,39.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,"Thomas, Carl",Summer Rain,4:57,2000-09-23,82,82.0,86.0,80.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,"Tippin, Aaron",Kiss This,2:53,2000-08-26,74,72.0,66.0,53.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,Train,Meet Virginia,3:55,1999-10-09,76,67.0,59.0,54.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Trick Daddy,Shut Up,4:17,2000-05-20,99,95.0,87.0,87.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Trina,Pull Over,2:58,2000-09-09,97,93.0,96.0,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Tritt, Travis",Best Of Intentions,4:15,2000-08-19,97,86.0,79.0,70.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,Tuesday,I Know,4:06,2000-12-30,98,98.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Urban, Keith",Your Everything,4:10,2000-07-15,81,80.0,73.0,73.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Usher,Pop Ya Collar,3:36,2000-11-04,68,64.0,60.0,60.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Vassar, Phil",Carlene,4:07,2000-03-04,75,67.0,64.0,64.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,81,81.0,76.0,67.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,70,61.0,53.0,46.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Vertical Horizon,You're A God,3:45,2000-08-26,64,55.0,43.0,41.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Vitamin C,Graduation (Friends ...,4:23,2000-04-15,81,64.0,54.0,54.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Vitamin C,The Itch,3:30,2000-12-02,86,48.0,45.0,52.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,95,95.0,94.0,94.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,73,65.0,57.0,57.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,"Wallflowers, The",Sleepwalker,3:29,2000-10-28,73,73.0,74.0,80.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,Westlife,Swear It Again,4:07,2000-04-01,96,82.0,66.0,55.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Williams, Robbie",Angels,3:56,1999-11-20,85,77.0,69.0,69.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,"Wills, Mark",Back At One,4:00,2000-01-15,89,55.0,51.0,43.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,"Worley, Darryl",When You Need My Lov...,3:35,2000-06-17,98,88.0,93.0,92.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,"Wright, Chely",It Was,3:51,2000-03-04,86,78.0,75.0,72.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
billboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
billboard_melt = pd.melt(
    billboard,
    id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
    var_name='week',
    value_name='rating'
)

In [15]:
billboard_melt.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [16]:
billboard.shape

(317, 81)

In [17]:
billboard_melt.shape

(24092, 7)

In [18]:
ebola = pd.read_csv('../data/country_timeseries.csv')

In [19]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [20]:
ebola_long = pd.melt(ebola,
                    id_vars=['Date', 'Day'])

In [21]:
ebola_long.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [3]:
'Cases_Guinea'.split('_')

['Cases', 'Guinea']

In [4]:
variable_split = ebola_long['variable'].str.split('_')

NameError: name 'ebola_long' is not defined

In [2]:
variable_split

NameError: name 'variable_split' is not defined

In [26]:
type(variable_split)

pandas.core.series.Series

In [28]:
type(variable_split[0])

list

In [30]:
(variable_split[0][0])

'Cases'

In [31]:
type(variable_split[0][0])

str

In [35]:
variable_split.str.get(0)

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
5        Cases
6        Cases
7        Cases
8        Cases
9        Cases
10       Cases
11       Cases
12       Cases
13       Cases
14       Cases
15       Cases
16       Cases
17       Cases
18       Cases
19       Cases
20       Cases
21       Cases
22       Cases
23       Cases
24       Cases
25       Cases
26       Cases
27       Cases
28       Cases
29       Cases
         ...
1922    Deaths
1923    Deaths
1924    Deaths
1925    Deaths
1926    Deaths
1927    Deaths
1928    Deaths
1929    Deaths
1930    Deaths
1931    Deaths
1932    Deaths
1933    Deaths
1934    Deaths
1935    Deaths
1936    Deaths
1937    Deaths
1938    Deaths
1939    Deaths
1940    Deaths
1941    Deaths
1942    Deaths
1943    Deaths
1944    Deaths
1945    Deaths
1946    Deaths
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [36]:
variable_split.str.get(1)

0       Guinea
1       Guinea
2       Guinea
3       Guinea
4       Guinea
5       Guinea
6       Guinea
7       Guinea
8       Guinea
9       Guinea
10      Guinea
11      Guinea
12      Guinea
13      Guinea
14      Guinea
15      Guinea
16      Guinea
17      Guinea
18      Guinea
19      Guinea
20      Guinea
21      Guinea
22      Guinea
23      Guinea
24      Guinea
25      Guinea
26      Guinea
27      Guinea
28      Guinea
29      Guinea
         ...
1922      Mali
1923      Mali
1924      Mali
1925      Mali
1926      Mali
1927      Mali
1928      Mali
1929      Mali
1930      Mali
1931      Mali
1932      Mali
1933      Mali
1934      Mali
1935      Mali
1936      Mali
1937      Mali
1938      Mali
1939      Mali
1940      Mali
1941      Mali
1942      Mali
1943      Mali
1944      Mali
1945      Mali
1946      Mali
1947      Mali
1948      Mali
1949      Mali
1950      Mali
1951      Mali
Name: variable, Length: 1952, dtype: object

In [38]:
ebola_long['stats'] = variable_split.str.get(0)
ebola_long['country'] = variable_split.str.get(1)

In [39]:
ebola_long.head()

         Date  Day      variable   value  stats country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [43]:
ebola_long[['stats_e', 'country_e']] = (ebola_long['variable']
                                        .str
                                        .split('_', expand=True))

In [44]:
ebola_long

            Date  Day      variable   value   stats country stats_e country_e
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea   Cases    Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea   Cases    Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea   Cases    Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea   Cases    Guinea
5     12/28/2014  281  Cases_Guinea  2706.0   Cases  Guinea   Cases    Guinea
6     12/27/2014  280  Cases_Guinea  2695.0   Cases  Guinea   Cases    Guinea
7     12/24/2014  277  Cases_Guinea  2630.0   Cases  Guinea   Cases    Guinea
8     12/21/2014  273  Cases_Guinea  2597.0   Cases  Guinea   Cases    Guinea
9     12/20/2014  272  Cases_Guinea  2571.0   Cases  Guinea   Cases    Guinea
10    12/18/2014  271  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
11    12/14/2014  267  Cases_Guinea  2416.0   Cases  Guinea   Cases    Guinea
12     12/9/2014  262  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
13     12/7/2014  260  Cases_Guinea  2292.0   Cases  Guinea   Cases    Guinea
14     12/3/2014  256  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
15    11/30/2014  253  Cases_Guinea  2164.0   Cases  Guinea   Cases    Guinea
16    11/28/2014  251  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
17    11/23/2014  246  Cases_Guinea  2134.0   Cases  Guinea   Cases    Guinea
18    11/22/2014  245  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
19    11/18/2014  241  Cases_Guinea  2047.0   Cases  Guinea   Cases    Guinea
20    11/16/2014  239  Cases_Guinea  1971.0   Cases  Guinea   Cases    Guinea
21    11/15/2014  238  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
22    11/11/2014  234  Cases_Guinea  1919.0   Cases  Guinea   Cases    Guinea
23    11/10/2014  233  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
24     11/9/2014  232  Cases_Guinea  1878.0   Cases  Guinea   Cases    Guinea
25     11/8/2014  231  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
26     11/4/2014  227  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
27     11/3/2014  226  Cases_Guinea  1760.0   Cases  Guinea   Cases    Guinea
28     11/2/2014  225  Cases_Guinea  1731.0   Cases  Guinea   Cases    Guinea
29    10/31/2014  222  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
...          ...  ...           ...     ...     ...     ...     ...       ...
1922   5/23/2014   62   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1923   5/12/2014   51   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1924   5/10/2014   49   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1925    5/7/2014   46   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1926    5/5/2014   44   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1927    5/3/2014   42   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1928    5/1/2014   40   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1929   4/26/2014   35   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1930   4/24/2014   33   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1931   4/23/2014   32   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1932   4/22/2014   31   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1933   4/21/2014   30   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1934   4/20/2014   29   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1935   4/17/2014   26   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1936   4/16/2014   25   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1937   4/15/2014   24   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1938   4/14/2014   23   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1939   4/11/2014   20   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1940    4/9/2014   18   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1941    4/7/2014   16   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1942    4/4/2014   13   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1943    4/1/2014   10   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1944   3/31/2014    9   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1945   3/29/2014    7   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1946   3/28/2014    6   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali

[1952 rows x 8 columns]

In [45]:
weather = pd.read_csv('../data/weather.csv')

In [46]:
weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# can use pd.melt, or weather.melt
weather_melt = weather.melt(
    id_vars=['id', 'year', 'month', 'element'],
    var_name='day',
    value_name='temp'
)

In [51]:
weather_melt.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [52]:
weather_tidy = weather_melt.pivot_table(
    index=['id', 'year', 'month', 'day'],
    columns='element',
    values='temp'
)

In [54]:
weather_tidy.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [56]:
billboard_melt.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [58]:
billboard_melt.loc[billboard_melt['track'] == 'Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
1588   2000  3 Doors Down  Loser  4:24   2000-10-21   wk6    65.0
1905   2000  3 Doors Down  Loser  4:24   2000-10-21   wk7    55.0
2222   2000  3 Doors Down  Loser  4:24   2000-10-21   wk8    59.0
2539   2000  3 Doors Down  Loser  4:24   2000-10-21   wk9    62.0
2856   2000  3 Doors Down  Loser  4:24   2000-10-21  wk10    61.0
3173   2000  3 Doors Down  Loser  4:24   2000-10-21  wk11    61.0
3490   2000  3 Doors Down  Loser  4:24   2000-10-21  wk12    59.0
3807   2000  3 Doors Down  Loser  4:24   2000-10-21  wk13    61.0
4124   2000  3 Doors Down  Loser  4:24   2000-10-21  wk14    66.0
4441   2000  3 Doors Down  Loser  4:24   2000-10-21  wk15    72.0
4758   2000  3 Doors Down  Loser  4:24   2000-10-21  wk16    76.0
5075   2000  3 Doors Down  Loser  4:24   2000-10-21  wk17    75.0
5392   2000  3 Doors Down  Loser  4:24   2000-10-21  wk18    67.0
5709   2000  3 Doors Down  Loser  4:24   2000-10-21  wk19    73.0
6026   2000  3 Doors Down  Loser  4:24   2000-10-21  wk20    70.0
6343   2000  3 Doors Down  Loser  4:24   2000-10-21  wk21     NaN
6660   2000  3 Doors Down  Loser  4:24   2000-10-21  wk22     NaN
6977   2000  3 Doors Down  Loser  4:24   2000-10-21  wk23     NaN
7294   2000  3 Doors Down  Loser  4:24   2000-10-21  wk24     NaN
7611   2000  3 Doors Down  Loser  4:24   2000-10-21  wk25     NaN
7928   2000  3 Doors Down  Loser  4:24   2000-10-21  wk26     NaN
8245   2000  3 Doors Down  Loser  4:24   2000-10-21  wk27     NaN
8562   2000  3 Doors Down  Loser  4:24   2000-10-21  wk28     NaN
8879   2000  3 Doors Down  Loser  4:24   2000-10-21  wk29     NaN
9196   2000  3 Doors Down  Loser  4:24   2000-10-21  wk30     NaN
...     ...           ...    ...   ...          ...   ...     ...
14585  2000  3 Doors Down  Loser  4:24   2000-10-21  wk47     NaN
14902  2000  3 Doors Down  Loser  4:24   2000-10-21  wk48     NaN
15219  2000  3 Doors Down  Loser  4:24   2000-10-21  wk49     NaN
15536  2000  3 Doors Down  Loser  4:24   2000-10-21  wk50     NaN
15853  2000  3 Doors Down  Loser  4:24   2000-10-21  wk51     NaN
16170  2000  3 Doors Down  Loser  4:24   2000-10-21  wk52     NaN
16487  2000  3 Doors Down  Loser  4:24   2000-10-21  wk53     NaN
16804  2000  3 Doors Down  Loser  4:24   2000-10-21  wk54     NaN
17121  2000  3 Doors Down  Loser  4:24   2000-10-21  wk55     NaN
17438  2000  3 Doors Down  Loser  4:24   2000-10-21  wk56     NaN
17755  2000  3 Doors Down  Loser  4:24   2000-10-21  wk57     NaN
18072  2000  3 Doors Down  Loser  4:24   2000-10-21  wk58     NaN
18389  2000  3 Doors Down  Loser  4:24   2000-10-21  wk59     NaN
18706  2000  3 Doors Down  Loser  4:24   2000-10-21  wk60     NaN
19023  2000  3 Doors Down  Loser  4:24   2000-10-21  wk61     NaN
19340  2000  3 Doors Down  Loser  4:24   2000-10-21  wk62     NaN
19657  2000  3 Doors Down  Loser  4:24   2000-10-21  wk63     NaN
19974  2000  3 Doors Down  Loser  4:24   2000-10-21  wk64     NaN
20291  2000  3 Doors Down  Loser  4:24   2000-10-21  wk65     NaN
20608  2000  3 Doors Down  Loser  4:24   2000-10-21  wk66     NaN
20925  2000  3 Doors Down  Loser  4:24   2000-10-21  wk67     NaN
21242  2000  3 Doors Down  Loser  4:24   2000-10-21  wk68     NaN
21559  2000  3 Doors Down  Loser  4:24   2000-10-21  wk69     NaN
21876  2000  3 Doors Down  Loser  4:24   2000-10-21  wk70     NaN
22193  2000  3 Doors Down  Loser  4:24   2000-10-21  wk71     NaN
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [59]:
billboard_songs = billboard_melt[['year', 'artist', 'track', 'time']]

In [60]:
billboard_songs.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [61]:
billboard_songs.shape

(24092, 4)

In [63]:
billboard_songs = billboard_songs.drop_duplicates()

In [64]:
billboard_songs.shape

(317, 4)

In [65]:
billboard_songs['id'] = range(len(billboard_songs))

In [66]:
billboard_songs.head()

   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4

In [67]:
billboard_songs.to_csv('billboard_songs.csv', index=False)

In [68]:
billboard_ratings = billboard_melt.merge(
    billboard_songs, on=['year', 'artist', 'track', 'time']
)

In [69]:
billboard_ratings.head()

   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

In [70]:
billboard_ratings = billboard_ratings[['id', 'date.entered', 'week', 'rating']]

In [73]:
billboard_ratings.to_csv('billboard_ratings.csv', index=False)

In [74]:
billboard_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24092 entries, 0 to 24091
Data columns (total 4 columns):
id              24092 non-null int64
date.entered    24092 non-null object
week            24092 non-null object
rating          5307 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 941.1+ KB

In [75]:
billboard_songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 316
Data columns (total 5 columns):
year      317 non-null int64
artist    317 non-null object
track     317 non-null object
time      317 non-null object
id        317 non-null int64
dtypes: int64(2), object(3)
memory usage: 14.9+ KB

In [76]:
billboard_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 7 columns):
year            24092 non-null int64
artist          24092 non-null object
track           24092 non-null object
time            24092 non-null object
date.entered    24092 non-null object
week            24092 non-null object
rating          5307 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.3+ MB

In [80]:
weather_tidy = (weather_melt.pivot_table(
    index=['id', 'year', 'month', 'day'],
    columns='element',
    values='temp')
                
                .reset_index()
)

In [81]:
type(weather_tidy.select())

pandas.core.frame.DataFrame

In [82]:
weather_tidy

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5